## Quiz
* accuracy, recall, precision 별 평가지표 사용
* 타이타닉과 은행 마케팅 결과를 평가지표로 확인해 보세요
* 어떠한 평가지표를 쓰는게 옳을지 생각해보세요
* 예측 정답 구하기 : pred = rfc.predict(X_test)

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
df_t = pd.read_csv('../data_set/4.분류/titanic_cleaning.csv')
df_t.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    0  22.0      1      0   7.2500
1            2         1       1    1  38.0      1      0  71.2833
2            3         1       3    1  26.0      0      0   7.9250
3            4         1       1    1  35.0      1      0  53.1000
4            5         0       3    0  35.0      0      0   8.0500

In [3]:
df_t.isnull().sum() # 결측치 확인

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [4]:
df_t.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare'],
      dtype='object')

In [11]:
df_t = pd.read_csv('../data_set/4.분류/bank_train_clean.csv')
df_t.head()

   age  duration  campaign  pdays  previous  y
0   58       261         1     -1         0  0
1   44       151         1     -1         0  0
2   33        76         1     -1         0  0
3   47        92         1     -1         0  0
4   33       198         1     -1         0  0